<div class="jumbotron">
    <h1>BILLS from Data.gov.ua</h1>
    <p class="lead">This application demonstrate work with XML parser, API and xUnit</p>
    <p>
        
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>XML parser & API</h2>
        <p>
            <a href="/api/bills" class="btn btn-primary btn-lg">Show bills</a>
            <a href="/api/bills?limit=100" class="btn btn-primary btn-lg">Show 100 bills</a>
            <a href="/api/bills/1" class="btn btn-primary btn-lg">Show first bill</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>xUnit</h2>
        <p>Empty</p>
        <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a>*@</p>
    </div>
</div>
